@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: NeueHaasGrotesk;
    src: url('fonts/font-55Rg.woff2') format('woff2'),
    url('fonts/font-55Rg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: NeueHaasGrotesk;
    src: url('fonts/font-65Md.woff2') format('woff2'),
    url('fonts/font-65Md.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: NeueHaasGrotesk;
    src: url('fonts/font-75Bd.woff2') format('woff2'),
    url('fonts/font-75Bd.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


html {
    @apply font-body text-base text-black;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
::selection {
    @apply bg-primary text-black;
}

.container {
    @apply mx-auto px-4;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-display font-bold;
}

@screen xl {
    .container {
        @apply px-0;
    }

}

h1 {
    @apply text-5xl;
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-2xl;
}

h5 {
    @apply text-xl;
}

h6 {
    @apply text-lg;
}

@screen md {
    h1 {
        @apply text-6xl;
    }

    h2 {
        @apply text-5xl;
    }

    h3 {
        @apply text-4xl;
    }

    h4 {
        @apply text-3xl;
    }

    h5 {
        @apply text-2xl;
    }

    h6 {
        @apply text-xl;
    }
}

a:not(.btn) {
    @apply underline text-gray-800;
}
a:hover{
    @apply text-black;
}

/*NAVIGATION*/

nav .flex a:not(.btn) {
    @apply no-underline;
    margin-left: .5rem;
    padding: .25rem .65rem;
    transition: .15s ease-in;
    display: block;
}
nav .flex .links {
    display: flex;
}
nav .flex .links  a:last-child{
    margin-right: -.65rem;
}
nav .flex a:not(.btn):hover {
    @apply bg-gray-300 rounded-sm;
}
nav .flex a.logo {
    padding: .5rem .5rem;
    margin-left: -.5rem;
}

a:hover {

}

nav {
    @apply bg-white bg-opacity-75;
    backdrop-filter: blur(8px);
}

.btn {
    @apply py-3 px-4 border border-gray-900 leading-none font-medium inline-block;
    border-width: 1.5px;
}

.btn:hover {
    @apply bg-gray-900 text-gray-100;
}

.btn.btn-primary {
    @apply bg-primary;
}

.btn.btn-outline-primary {
    @apply border-primary;
}

.btn.btn-outline-primary:hover {
    @apply bg-primary;
}

