
.btn {
  @apply py-3 px-4 border border-gray-900 leading-none font-medium inline-block;
  border-width: 1.5px;
}

.btn.btn-square {
  @apply px-3;
}

.btn.btn-sm {
  @apply py-2 px-3 text-sm;
}

.btn.btn-sm.btn-square {
  @apply p-2;
}

.btn:hover {
  @apply bg-gray-900 text-gray-100;
}

.btn.btn-primary {
  @apply bg-primary;
}

.btn.btn-outline-primary {
  @apply border-primary;
}

.btn.btn-outline-primary:hover {
  @apply bg-primary;
}
