.pattern-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /*width: 100%;*/
  justify-content: center;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  cursor: none;
}

.pattern-background .circle-col {
  display: flex;
  flex-direction: column;
}

.pattern-background .circle {
  display: block;
  position: relative;
  width: 6px;
  height: 6px;
  padding: 22px;
}

.pattern-background .circle:after {
  @apply bg-gray-500;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transition: .20s ease-out;
  /*transform: perspective(1px) translateZ(0);*/
  backface-visibility: hidden;
}

.pattern-background .circle .tag {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1;
  font-weight: 600;
  font-size: 1em;
  line-height: 100%;
  transition: opacity .2s .1s ease-in;
}


.pattern-background .circle.color-primary:after {
  background-color: #FEF208;
}

.pattern-background .circle.color-green:after {
  background-color: #3EAA47;
}

.pattern-background .circle.color-blue:after {
  background-color: #73CEDF;
}

.pattern-background .circle.color-orange:after {
  background-color: #F4A41B;
}

.pattern-background .circle.color-red:after {
  background-color: #F12E3E;
}


.pattern-background .circle:not(.circle-git).near-hover:after {
  @apply bg-gray-600;
  opacity: .80;
}

.pattern-background .circle:not(.circle-git).less-near-hover:after {
  @apply bg-gray-600;
  opacity: .35;
}


.pattern-background .circle:not(.circle-git):hover:after {
  @apply bg-gray-800;
  /*transform: scale3d(1.4, 1.4, 1.4);*/
}

@keyframes hoverCircle {
  0% {
    transform: translate(-50%, -50%) scale3d(1,1,1);
  }
  50% {
    transform: translate(-50%, -50%) scale3d(0.9,0.9,0.9);
  }
  100% {
    transform: translate(-50%, -50%) scale3d(1,1,1);
  }
}

.pattern-background .circle.circle-git {
  &:hover:after {
    //animation: hoverCircle 1.5s ease-in-out infinite;
  }

  &:hover, &.is-active {
    &:after {
      width: 42px;
      height: 42px;
      box-shadow: 0 0.2px 1px rgba(0, 0, 0, 0.13);
    }



    .tag {
      opacity: 1;
    }
  }
}


//.pattern-background .circle.circle-git.near-hover:after {
//  /*transform: scale3d(2, 2, 2);*/
//}
//
//.pattern-background .circle.circle-git.less-near-hover:after {
//  /*transform: scale3d(1.5, 1.5, 1.5);*/
//}


.pattern-background .circle-col .month {
  @apply text-gray-600;
  text-align: center;
  width: 44px;
  height: 44px;
  padding: 12px 0;
}
